@import '../../styles/mixins';

$transitionTime: 0.3s;
$transitionBack: background $transitionTime linear;
$transitionColor: color $transitionTime linear;

$screenSize: var(--max-mobile-screen);

.header {
   /* background-color: $color1; */
   color: $color2;

   transition: $transitionBack;

   .logo {
      font-size: 1.25rem;
      line-height: 1.75rem;
      transition: font-size 0.3s ease-in-out;
   }
   .logo:hover {
      font-size: 1.5rem;
   }

   .flag {
      svg {
         width: 2.5rem;
         transition: width 0.3s ease-in-out;
      }
   }
   .flag:hover {
      svg {
         width: 3rem;
      }
   }

   .nav {
      .btnMobile {
         display: none;
      }

      .menu {
         font-weight: 700;
         transition: $transitionColor;
      }
      .menuVisible {
         color: $color2;
      }
      .menuInvisible {
         color: $color1;
      }
   }
}

.color1 {
   color: $color1;
   transition: $transitionColor;
}
.background1 {
   background: $color1;
   transition: $transitionBack;
}

.menuOptions {
   flex-direction: row-reverse;
}

@media (max-width: 550px) {
   .menuOptions {
      flex-direction: row;
   }

   .header {
      .nav {
         .btnMobile {
            display: flex;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            border: none;

            .hamburger {
               position: relative;
               display: block;
               width: 20px;
               border-top: 2px solid;

               &::after,
               &::before {
                  content: '';
                  position: relative;
                  display: block;
                  width: 20px;
                  height: 2px;
                  background-color: currentColor;
                  margin-top: 5px;
                  transition: 0.3s;
               }
            }
         }

         .menu {
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            .link {
               font-size: 10vw;
            }
         }
      }

      .nav.active {
         .btnMobile {
            .hamburger {
               border-top-color: transparent;
               z-index: 400;

               &::before {
                  transform: rotate(135deg);
               }
               &::after {
                  transform: rotate(-135deg);
                  top: -7px;
               }
            }
         }
      }
   }
}

/* Below are the classes related to changing components according to screenWidth */

.basic_style {
   background-color: $opac-color1;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   margin: 0px;
   width: 100vw;
   height: 100vh;
}
.expanded_style {
   background-color: $opac-color1;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   display: flex;
   margin: 0px;
   width: 100vw;
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
